<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10.gif</key>
	<string>[流泪]</string>
	<key>11.gif</key>
	<string>[流汗]</string>
	<key>13.gif</key>
	<string>[难过]</string>
	<key>12.gif</key>
	<string>[哈哈]</string>
	<key>14.gif</key>
	<string>[微笑]</string>
</dict>
</plist>
